@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nunito:wght@300;400;500;600;800&display=swap');
@import "tailwindcss";

:root {
  --bg: #FDF6EC;
  --purple: #275F55;
  --black: #000000;
  --white: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
  color: var(--black);
  font-family: 'Nunito', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-avenir {
  font-family: 'Nunito', sans-serif;
}
